.restaurantCard {

    overflow: hidden;
    max-width: 20vw;
    height: fit-content;
    display: block;
}

.cardImageContainer {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 16px;
    aspect-ratio: 3/2;
    overflow: hidden;
}

.cardImageContainer::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.5) 20%,
            rgba(0, 0, 0, 0) 40%,
            rgba(0, 0, 0, 0) 100%);
    border-radius: inherit;
}

.cardImg {
    display: block;
    overflow-clip-margin: content-box;
    overflow: clip;
    border-style: none;
    width: 100%;
    height: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: 16px;
}

.offersText {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    font-family: Gilroy;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.5px;
    padding: 0 12px 8px 12px;
    color: rgba(255, 255, 255, 0.92);
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.cardInfo {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.cardLink {
    text-decoration: none;
    color: inherit;
    outline: 0;
    cursor: pointer;
}

.cardGrid {
    display: grid;
    transition: 0.05s;
    cursor: pointer;
    gap: 12px;
    grid-auto-flow: row;
    justify-content: stretch;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
}

.restaurantName {
    margin: 0px;
    font-family: Gilroy;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.45px;
    color: rgba(2, 6, 12, 0.92);
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.restaurantCardSubtextContainer {
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 2px;
    gap: 2px;
    grid-auto-flow: column;
    -webkit-box-pack: start;
    justify-content: start;

}

.restaurantCardDiscriptionContainer {
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 2px;
    gap: 2px;
}

.restaurantCardSubtext {
    font-family: Gilroy;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: rgba(2, 6, 12, 0.92);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-box-orient: vertical;
}

.restaurantRatingText {
    font-family: Gilroy;
    font-weight: 200;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: rgba(2, 6, 12, 0.92);
}

.restaurantCardDiscriptionContainer {
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 2px;
    gap: 2px;
}

.restaurantCousineText {
    font-family: Gilroy;
    font-weight: 200;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: rgba(2, 6, 12, 0.6);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
}

.restaurantLocationText {
    font-family: Gilroy;
    font-weight: 200;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: rgba(2, 6, 12, 0.6);
    overflow: hidden;
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;

}